/* RESET & GENERALS*/

*{	
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
    color: aliceblue;
}	

@font-face {
    font-family: Fuente1;
    src: url(../assets/fonts/Fuente1.ttf);
}

.background {
    background-image: url(../assets/images/Fondo\ Web\ 3.png);
    height: 1px;
}

a:visited{
    color: aliceblue;
}


/* VISTA MOBILE */

@media (min-width: 320px) {

    .header-desplazamiento {
        animation: desplazamiento-header 1.5s ease-out;
    }

    .main-desplazamiento {
        animation: main-desplazamiento 1.5s ease-in-out;
    }


    .footer-desplazamiento {
        animation: footer-desplazamiento 1.5s ease-out;
    }

    .header__section__nav__options {
        display: none;
    }

    .header__section {
        display: flex;
        background-color: rgba(20, 28, 34, 0.719);
        margin: 4%;
        text-align:start;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-top: 2%;
        border-radius: 1rem;
        box-shadow: -10px 6px 15px -3px rgba(0, 0, 0, 0.658);        
    }

    .header__section__div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        order: 2; 
    }

    .header__section__div__h1 {
        font-size: 30px;
        font-family: fuente1;
        color: aliceblue; 
        text-shadow: -4px 3px 8px rgba(0,0,0,0.82);
        text-align: center;
    }

    .header__section__nav {
        display: flex;
        justify-content: start;        
    }

    .header__section__nav__button {
        height: 80px;        
    }

    .header__secttion__nav__div
        { 

        }

    .main__section {
        padding: 3%;
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        background-color: rgba(18, 75, 122, 0.637);
        border-radius: 1rem;
        width: 90%;
        margin-left: 5%;
        text-align: center;
        font-family: fuente1;
        color: aliceblue;
        text-shadow: -5px 2px 3px rgba(0,0,0,0.82);
        box-shadow: -10px 6px 15px -3px rgba(0, 0, 0, 0.658);   
    }

    .main__section__h2 {
        padding-bottom: 6%;
    }

    .main__section-x2__img {
        width: 90%;
        padding-top: 10%;
        padding-bottom: 6%;
        filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.527));
    }

    .main__section-x3__div__logos  {
        border-radius: 0; 
        width: 100%;
        padding-top: 3%;
        display: flex;
    }
   
    .frontend__carousel__container {
        width: 90%;
        margin-left: 5%;
    }

    .footer {
        background-color: rgba(20, 28, 34, 0.815);
        margin: 5%;
        text-align:start;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-top: 2%;
        border-radius: 1rem;
        box-shadow: -10px 6px 15px -3px rgba(0, 0, 0, 0.658);
    }

    .footer__sitemap {
        color: aliceblue;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-left: 5%;
        padding-bottom: 3%;
    }

    .footer__list {
        display: flex;
        flex-direction: column;
        color: aliceblue;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-left: 50px;
        row-gap: 10%;
        text-shadow: none;
    }

    .footer__list__a {
        text-decoration: none;
    }

    .animacion__menu-azul--latencia {
        animation-delay: 8s;
        animation: animacion__menu-azul--latencia;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .animacion__menu-azul--brillo:hover {
        filter: brightness(110%);
    }


    .animacion__apariciones-opacity {
        animation: animacion__apariciones-opacity 5s;
    }

    .animacion__img-desplazamiento {
        animation: footer-desplazamiento 1.5s ease-out;
    }



} /*CIERRE @MEDIA MOBILE*/


/*TABLET */
@media (min-width: 480px) {

    .header__section__nav__button {
        height: 150px;
    }

    .header__section__div__h1 {
        font-size: 40px;
    }

    .main__section__text {
        font-size: 20px;
    }

    .main__section-x3__text {
        font-size: 20px;
    }

    .main__section__h2 {
        font-size: 50px;
    }

}


/* MEDIUM-SCREEN */

@media (min-width: 720px) {
    .header__section__div__h1 {
        font-size: 60px;
    }

    .footer__list {
        margin-left: 10%;
    }

}


/* FULLSCREEN */

@media (min-width: 960px) {

    .header__section__div__h1 {
        font-size: 50px;
    }

    .header__section {
        margin-top: 1%;
        margin-bottom: 2%;
    }

    .header__section__div__br {
        display: none;
    }

    .header__section__nav__button {
        display: none;
    }

    .header__section__nav__options {
        display: flex;
        justify-content: center;
        padding: 1% 0%;
        gap: 7%;
        color: rgb(184, 185, 199);
        width: 100%;
        font-size: 30px;
        font-family: fuente1;
   
    }

    .header__section__nav__container {
        background-color: rgba(18, 75, 122, 0.308);
        margin: 1%;
        text-align:start;
        border-radius: 1rem;
        box-shadow: -10px 6px 15px -3px rgba(0, 0, 0, 0.555);
    }

    .header__section {
        flex-direction: column;
        padding: 0.5%; 
        margin: 0.5% 5% 1% 5%;
    }

    .header__section__nav {
        order: 2;
        display: flex;
        justify-content: center;
    }

    header__section__nav__ul__a {
        text-decoration: none;
    }

    .main__section {
        padding-top: 1%;
        display: flex;
    }

    .main__section__h2 {
        padding-bottom: 1%;

    }

    .main__section-x2 {
       padding-top: 2%;
       width: 95%;  
       display: flex;
       flex-direction: row;
       margin-left: 2%;
    }

    .main__section-x2__a {
        width: 1200px;
    }

    .main__section-x2__img {
        border-radius: 100%;
        width: 250px;
        padding-top: 3%;
        display: flex;
    }
   

    .main__section-x2__section {
        width: 40%;
    }

    .main__section-x3__text {
        width: 90%;
        margin-left: 5%;
        font-size: 20px;
        display: flex;
        align-items: center;
        padding-top: 5%;
    }

    .main__section-x3__div {
        width: 100%;
    }
    
    .main__section-x3__div__logos { 
        width: 70%;
        margin-left: 15%;
        padding-top: 6%;
        display: flex;
    }

    .frontend__carousel__container {
        width: 500px;
    }

    .footer {
        margin-top: 1%;
    }

    .footer__sitemap {
        padding-bottom: 1%;
    }
    
    .footer__list {
        margin-left: 9%;
    }
    
    .animacion__scale-menu-fullscreen:hover {
        transform: scale(1.1);
        filter: brightness(150%);
    }

    .animacion__latencia-menu-fullscreen1 {
        animation: animacion__latencia-menu-fullscreen  ;
        animation-duration: 4.5s;
        animation-iteration-count: infinite;
        text-decoration: none;
    }

    .animacion__latencia-menu-fullscreen2 {
        animation: animacion__latencia-menu-fullscreen;
        animation-duration: 4.5s;
        animation-iteration-count: infinite;
        animation-delay: 2s;
        text-decoration: none;
    }

    .animacion__latencia-menu-fullscreen3 {
        animation: animacion__latencia-menu-fullscreen;
        animation-duration: 4.5s;
        animation-iteration-count: infinite;
        animation-delay: 3s;
        text-decoration: none;
    }

    .animacion__latencia-menu-fullscreen4 {
        animation: animacion__latencia-menu-fullscreen;
        animation-delay: 4s;
        animation-duration: 4.5s;
        animation-iteration-count: infinite;
        text-decoration: none;
    }


    .main__section-x2__div-x3__img1{
    width: 30%;
} 

}
    


/* ANIMACIONES*/
@keyframes animacion__latencia-menu-fullscreen {
    
    0% { transform: scale(1) rotate(-2deg);
         color:rgb(184, 185, 199)}
    50% { transform: scale(1.03) rotate(2deg);
          color: aliceblue;}
    100% { transform: scale(1) rotate(-2deg);
           color:rgb(184, 185, 199)}
}

@keyframes animacion__scale-menu-fullscreen {
    
    0% { transform: scale(1);}
    50% { transform: scale(1.2);}
    100% { transform: scale(1);}
}

@keyframes animacion__menu-azul--latencia {
    0% { transform: scale(1);}
   50% { transform: scale(1.25);}
   100% { transform: scale(1);}
}
         

@keyframes desplazamiento-header {
    0% {transform: translateY(-30px);}
    100% { transform: translateY(0);}
}

@keyframes main-desplazamiento {
    0% {transform: translatex(-60px);}
    100% { transform: translateY(0);}
}

@keyframes animacion__apariciones-opacity {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

@keyframes footer-desplazamiento {
    0% {transform: translatey(30px);}
    100% { transform: translateY(0);}
}

@keyframes animacion__img-desplazamiento {
    0% {transform: translatey(500px);}
    100% { transform: translateY(0);}
}